<div class="grid grid-pad">
  <% @ideas.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |idea| %>
      <div class="span4">
        <p><%= image_tag idea.picture_url(:thumb) if idea.picture? %></p><%= link_to 'edit', edit_idea_path(idea) %> | <%= link_to 'delete', idea, method: :delete, data: { confirm: 'Hogg nooooo' } %>
      </div>
    <% end %>
  </div>
<% end %>
</div>

<footer>
  <div id="container">
    <%= link_to 'NEW', new_idea_path %>
  </div>
</footer>

