/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-color: #292929;
	color: #F2E6B6;
}

h1 {
	font-family: 'Overlock', sans-serif;
}

.span4 {
	display: inline;
}

.navigation {
	font-family: 'Overlock', sans-serif;
	margin-left: 0px;
	padding-left: 50px;
}

#container {
	color: black;
	font-family: 'Overlock', sans-serif;
	font-size: 50px;
	margin-left: 0px;
	margin-right: auto;
	padding-top: 10px;
	display: block;
	width: 600px;
	height: 500px;
	clear: both;
}

#container h1 {
	margin-bottom: 0px;
	font-family: 'Overlock', sans-serif;
}

#content h2 {
	font-family: 'Overlock', sans-serif;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

ul {
	margin-top: 0px;
}

#content {
	font-family: 'Overlock', Arial, sans-serif;
	color: #F2E6B6;
	font-size: 18px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	padding-left: 20px;
	display: block;
}

 footer {
  bottom: 0;
  left: 0;  
  right: 0;
  height: 150px;
  background-color: #96CEB4;
  border-top: 2px solid #BAD8DE;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  color: #5B7876;
  position: fixed;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

footer a {
  color: #000 !important;
  font-size: 50px !important;
}

footer a:hover {
  color: #fff !important;
}